body
{
	background-image:url("background.png");
}
body > div.header
{
	background-image:url("header.png");
}
body > div.header > div.borderTop
{
	background-image:url("headerBorderTop.png");
}
body > div.header > div.borderBottom
{
	background-image:url("headerBorderBottom.png");
}
body > div.header > div.navbar
{
	background-image:url("navbar.png");
}

body > div.header > div.navbar > a
{
    color:black;
}
body > div.header > div.navbar > a:before, body > div.header > div.navbar > a:last-of-type:after
{
    color:white;
    background-image:url("navbarSeparator.png");
}

body > div.header > div.container > a.logo
{
    width:163px;
    max-width:163px;
    height:95px;
    max-height:95px;
    background-image:url("logo.png");
}

body > div.header > div.container > div.block
{
    position:absolute;
    height:16px;
    width:16px;
    max-width:16px;
    max-height:16px;
    background:url("block.png") no-repeat;
}
body > div.header > div.container > div.coin
{
    position:absolute;
    width:16px;
    height:16px;
    max-width:16px;
    max-height:16px;
    background:url("coin.png") no-repeat center top;
}
body > div.header.frame1 > div.container > div.block, body > div.header.frame5 > div.container > div.block,
    body > div.header.frame1 > div.container > div.coin, body > div.header.frame5 > div.container > div.coin
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.block, body > div.header.frame2 > div.container > div.coin
{
    background-position:-16px 0px;
}
body > div.header.frame3 > div.container > div.block, body > div.header.frame3 > div.container > div.coin
{
    background-position:-32px 0px;
}
body > div.header.frame4 > div.container > div.block, body > div.header.frame4 > div.container > div.coin
{
    background-position:-48px 0px;
}
body > div.header > div.container > div.mario
{
    position:absolute;
    height:35px;
    max-height:35px;
    width:24px;
    max-width:24px;
    background:url("mario.png") no-repeat left bottom;
}
body > div.header.frame1 > div.container > div.mario
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.mario
{
    background-position:-24px 0px;
}
body > div.header.frame3 > div.container > div.mario
{
    background-position:-48px 0px;
}
body > div.header.frame4 > div.container > div.mario, body > div.header.frame5 > div.container > div.mario
{
    background-position:-72px 0px;
}
body > div.header > div.container > div.goomba
{
    position:absolute;
    height:19px;
    max-height:19px;
    width:17px;
    max-width:17px;
    bottom:35px;
    background:url("goomba.png") no-repeat left top;
}
body > div.header.frame1 > div.container > div.goomba
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.goomba
{
    background-position:-17px 0px;
}
body > div.header.frame3 > div.container > div.goomba
{
    background-position:-34px 0px;
}
body > div.header.frame4 > div.container > div.goomba
{
    background-position:-51px 0px;
}
body > div.header.frame5 > div.container > div.goomba
{
    background-position:-68px 0px;
}
body > div.header > div.container > div.bush
{
    position:absolute;
    width:34px;
    height:26px;
    max-width:34px;
    max-height:26px;
    background:url("bush.png") no-repeat;
    bottom:36px;
}
body > div.header > div.container > div.pipe
{
    position:absolute;
    width:32px;
    height:33px;
    max-width:32px;
    max-height:33px;
    background:url("pipe.png") no-repeat;
    bottom:36px;
}

body > div.container > div.body
{
	-moz-border-image: url("bodyBorder.png") 4;
	-webkit-border-image: url("bodyBorder.png") 4;
	-o-border-image: url("bodyBorder.png") 4;
	border-image: url("bodyBorder.png") 4 fill;
}

body > div.container > div.body > div.breadcrumbs
{
	-moz-border-image: url("breadcrumbsBorder.png") 4;
	-webkit-border-image: url("breadcrumbsBorder.png") 4;
	-o-border-image: url("breadcrumbsBorder.png") 4;
	border-image: url("breadcrumbsBorder.png") 4 fill;
}
body > div.container > div.body > div.breadcrumbs:before
{
    background-color:#48a818;
}
body > div.container > div.body > div.breadcrumbs:after
{
    background-color:#48a818;
}
body > div.container > div.body > div.breadcrumbs > span > a, body > div.container > div.body > div.breadcrumbs > span > a:visited
{
    color:#287216;
}
body > div.container > div.body > div.breadcrumbs > span:last-child > a
{
    color:black;
}

body > div.container > div.body > div.column
{
	border-left:1px solid #48A818;
	background-color:#C7FF4F;
}

body > div.container > div.body a, body > div.container > div.body a:visited
{
    color:#4388FF;
}
body > div.container > div.body a:hover
{
    color:#6097FE;
}
body > div.container > div.body h1, body > div.container > div.body h2, body > div.container > div.body h3
{
    text-shadow: 1px 0px 0 #000, 1px 1px 0 #000, 0px 1px 0 #000;
}
body > div.container > div.body h1
{
    color:#C54E0A;
    border-bottom-color:black;
}
body > div.container > div.body h2
{
    color:#6097FE;
}
body > div.container > div.body h3
{
    color:#87D619;
}
body > div.container > div.body h1 a:only-child, body > div.container > div.body h2 a:only-child,
    body > div.container > div.body h3 a:only-child
{
    text-decoration:none !important;
    color:inherit !important;
}
body > div.container > div.body quote
{
    border-left-color:gray;
}
body > div.container > div.body div.status
{
	border-color:#3E6617;
	background-color:#D5F6B8;
}
body > div.container > div.body div.status.success
{
	background-color:#BCED91;
	border-color:#629632;
	color:#629632;
}
body > div.container > div.body div.status.failure
{
	background-color:#F08080;
	border-color:#B22222;
	color:#B22222;
}

body > div.footer
{
    background-image:url("footer.png");
}
body > div.footer > div.border
{
    background-image:url("headerBorderTop.png");
}
body > div.footer > div.text
{
	-moz-border-image: url("footerTextBorder.png") 10;
	-webkit-border-image: url("footerTextBorder.png") 10;
	-o-border-image: url("footerTextBorder.png") 10;
	border-image: url("footerTextBorder.png") 10 fill;
}