body
{
	margin:0px;
	overflow-y:scroll;
	background-image:url("images/background.png");
    font-family:Tahoma, Geneva, sans-serif;
}
body > div.header
{
	height:204px;
	min-height:204px;
	max-height:204px;
	min-width:1000px;
	position:relative;
	margin-top:58px;
	background:url("images/header.png") repeat-x;
    background-position:0px -32px;
}
body > div.header > div.borderTop
{
	position:absolute;
	top:-47px;
	left:0px;
	right:0px;
	height:4px;
	min-height:4px;
	max-height:4px;
	background:url("images/headerBorderTop.png") repeat-x;
}
body > div.header > div.borderBottom
{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	height:4px;
	min-height:4px;
	max-height:4px;
	background:url("images/headerBorderBottom.png") repeat-x;
}
body > div.header > div.navbar
{
	position:absolute;
	top:-43px;
	left:0px;
	right:0px;
	height:48px;
	max-height:48px;
	min-height:48px;
	background:url("images/navbar.png") repeat-x;
    text-align:center;
}

body > div.header > div.navbar > a
{
    display:inline-block;
    width:74px;
    max-width:74px;
    height:48px;
    max-height:48px;
    text-decoration:none;
    background-repeat:no-repeat;
    position:relative;
    margin-left:1px;
    padding-top:20px;
    color:black;
}
body > div.header > div.navbar > a:hover, body > div.header > div.navbar > a.current
{
    padding-top:10px;
    top:-10px;
}
body > div.header > div.navbar a:last-of-type
{
    margin-right:1px;
}
body > div.header > div.navbar > a:before, body > div.header > div.navbar > a:last-of-type:after
{
    width:1px;
    overflow:hidden;
    color:white;
    content: ".";
    background:url("images/navbarSeparator.png") repeat-y;
    max-width:1px;
    height:48px;
    max-height:48px;
    display:inline-block;
    position:absolute;
    top:0px;
    left:-1px;
}
body > div.header > div.navbar > a:last-of-type:after
{
    right:-1px;
    left:inherit;
}
body > div.header > div.navbar > a:not(.current):hover
{
    background-position:0px 10px, 0px 0px;
}
body > div.header > div.navbar > a.home
{
    background:url("images/text-home.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.home.current
{
    background:url("images/text-home.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.about
{
    background:url("images/text-about.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.about.current
{
    background:url("images/text-about.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.programming
{
    background:url("images/text-programming.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.programming.current
{
    background:url("images/text-programming.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.teaching
{
    background:url("images/text-teaching.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.teaching.current
{
    background:url("images/text-teaching.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.gaming
{
    background:url("images/text-gaming.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.gaming.current
{
    background:url("images/text-gaming.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.library
{
    background:url("images/text-library.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.library.current
{
    background:url("images/text-library.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.suggestions
{
    background:url("images/text-suggestions.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.suggestions.current
{
    background:url("images/text-suggestions.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.contact
{
    background:url("images/text-contact.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.contact.current
{
    background:url("images/text-contact.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}

body > div.header > div.container
{
	width:960px;
	max-width:960px;
	min-width:960px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
    height:100%;
}
body > div.header > div.container > a.logo
{
    width:163px;
    max-width:163px;
    height:95px;
    max-height:95px;
    background:url("images/logo.png") no-repeat;
    position:absolute;
    top:20px;
    right:100px;
    z-index:100;
    display:block;
    border:0px;
    /*float:right;
    margin-top:20px;
    margin-right:80px;*/
}
body > div.header > div.container > a.head
{
	width:116px;
	max-width:116px;
	height:200px;
	max-height:200px;
	background:url("images/head.png") no-repeat;
	position:absolute;
	top:0px;
	right:-20px;
	z-index:99;
    display:block;
    border:0px;
}

body > div.header > div.container > div.block
{
    position:absolute;
    height:16px;
    width:16px;
    max-width:16px;
    max-height:16px;
    background:url("images/block.png") no-repeat;
}
body > div.header > div.container > div.coin
{
    position:absolute;
    width:16px;
    height:16px;
    max-width:16px;
    max-height:16px;
    background:url("images/coin.png") no-repeat center top;
}
body > div.header.frame1 > div.container > div.block, body > div.header.frame5 > div.container > div.block,
    body > div.header.frame1 > div.container > div.coin, body > div.header.frame5 > div.container > div.coin
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.block, body > div.header.frame2 > div.container > div.coin
{
    background-position:-16px 0px;
}
body > div.header.frame3 > div.container > div.block, body > div.header.frame3 > div.container > div.coin
{
    background-position:-32px 0px;
}
body > div.header.frame4 > div.container > div.block, body > div.header.frame4 > div.container > div.coin
{
    background-position:-48px 0px;
}
body > div.header > div.container > div.mario
{
    position:absolute;
    height:35px;
    max-height:35px;
    width:24px;
    max-width:24px;
    background:url("images/mario.png") no-repeat left bottom;
}
body > div.header.frame1 > div.container > div.mario
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.mario
{
    background-position:-24px 0px;
}
body > div.header.frame3 > div.container > div.mario
{
    background-position:-48px 0px;
}
body > div.header.frame4 > div.container > div.mario, body > div.header.frame5 > div.container > div.mario
{
    background-position:-72px 0px;
}
body > div.header > div.container > div.goomba
{
    position:absolute;
    height:19px;
    max-height:19px;
    width:17px;
    max-width:17px;
    bottom:35px;
    background:url("images/goomba.png") no-repeat left top;
}
body > div.header.frame1 > div.container > div.goomba
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.goomba
{
    background-position:-17px 0px;
}
body > div.header.frame3 > div.container > div.goomba
{
    background-position:-34px 0px;
}
body > div.header.frame4 > div.container > div.goomba
{
    background-position:-51px 0px;
}
body > div.header.frame5 > div.container > div.goomba
{
    background-position:-68px 0px;
}
body > div.header > div.container > div.bush
{
    position:absolute;
    width:34px;
    height:26px;
    max-width:34px;
    max-height:26px;
    background:url("images/bush.png") no-repeat;
    bottom:36px;
}
body > div.header > div.container > div.pipe
{
    position:absolute;
    width:32px;
    height:33px;
    max-width:32px;
    max-height:33px;
    background:url("images/pipe.png") no-repeat;
    bottom:36px;
}

body > div.container
{
	width:960px;
	max-width:960px;
	min-width:960px;
	margin-left:auto;
	margin-right:auto;
	/*padding-bottom:110px;*/
	position:relative;
}

body > div.container > div.console
{
	position:relative;
	top:-10px;
	height:42px;
	/*background-color:black;*/
	color:white;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:10pt;
	border-style: solid;
	border-width: 5px;
	-moz-border-image: url("images/consoleBorder.png") 5;
	-webkit-border-image: url("images/consoleBorder.png") 5;
	-o-border-image: url("images/consoleBorder.png") 5;
	border-image: url("images/consoleBorder.png") 5 fill;
	z-index:99;
}
body > div.container > div.console > div.prompt
{
	position:absolute;
	top:-25px;
	/*background-color:black;*/
	padding:5px 8px 2px 8px;
	left:-5px;
	max-height:13px;
	min-height:13px;
	height:13px;
	white-space:nowrap;
	max-width:800px;
	border-style: solid;
	border-width: 5px;
	-moz-border-image: url("images/consoleBorder.png") 5;
	-webkit-border-image: url("images/consoleBorder.png") 5;
	-o-border-image: url("images/consoleBorder.png") 5;
	border-image: url("images/consoleBorder.png") 5 fill;
	border-bottom:0px;
	border-right:0px;
	z-index:102;
}
body > div.container > div.console > div.prompt:after
{
	width:22px;
	height:24px;
	background-image:url("images/consoleEnd.png");
	content: ".";
	color:black;
	position:absolute;
	right:-22px;
	top:-5px;
}
body > div.container > div.console > div.prompt > span.user
{
	color:rgb(0,160,0);
}
body > div.container > div.console > div.prompt > span.user > span.botThrowoff:before
{
	content:"lo";
}
body > div.container > div.console > div.prompt > span.cwd
{
	color:rgb(255, 255, 0);
}
body > div.container > div.console > div.bash
{
	height:43px;
	max-height:43px;
	min-height:43px;
	overflow:hidden;
	padding-left:8px;
	padding-right:8px;
}
body > div.container > div.console > div.bash:before
{
	content: "$ ";
}

body > div.container > div.body
{
	position:relative;
	padding-left:3px;
	padding-right:253px;
	min-height:500px;
	border-style: solid;
	border-width: 4px;
	-moz-border-image: url("images/bodyBorder.png") 4;
	-webkit-border-image: url("images/bodyBorder.png") 4;
	-o-border-image: url("images/bodyBorder.png") 4;
	border-image: url("images/bodyBorder.png") 4 fill;
	margin-top:20px;
}

body > div.container > div.body > div.breadcrumbs
{
	position:absolute;
	top:-25px;
	left:50px;
	right:50px;
	font-size:80%;
	padding-left:6px;
	padding-right:6px;
	border-style: solid;
	border-width: 4px;
	-moz-border-image: url("images/breadcrumbsBorder.png") 4;
	-webkit-border-image: url("images/breadcrumbsBorder.png") 4;
	-o-border-image: url("images/breadcrumbsBorder.png") 4;
	border-image: url("images/breadcrumbsBorder.png") 4 fill;
	border-bottom:0px;
    height:17px;
    max-height:17px;
}
body > div.container > div.body > div.breadcrumbs:before
{
	position:absolute;
	bottom:-1px;
	left:-3px;
    width:2px;
    height:1px;
    max-height:1px;
    background-color:#48a818;
	content: ".";
    overflow:hidden;
}
body > div.container > div.body > div.breadcrumbs:after
{
	position:absolute;
	bottom:-1px;
	right:-3px;
    width:2px;
    height:1px;
    max-height:1px;
    background-color:#48a818;
	content: ".";
    overflow:hidden;
}
body > div.container > div.body > div.breadcrumbs > span:before
{
    content: ":. ";
}
body > div.container > div.body > div.breadcrumbs > span > a, body > div.container > div.body > div.breadcrumbs > span > a:visited
{
    text-decoration:none;
    color:#287216;
}
body > div.container > div.body > div.breadcrumbs > span:last-child > a
{
    color:black;
    font-weight:bold;
}


body > div.container > div.body > div.column
{
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:244px;
	/*border-style: solid;
	border-width: 4px;
	-moz-border-image: url("images/columnBorder.png") 4;
	-webkit-border-image: url("images/columnBorder.png") 4;
	-o-border-image: url("images/columnBorder.png") 4;
	border-image: url("images/columnBorder.png") 4 fill;
	border-right:0px;
	border-top:0px;
	border-bottom:0px;*/
	border-left:1px solid #48A818;
	background-color:#C7FF4F;
	padding:3px;
}
body > div.container > div.body:after
{
    content:".";
    display:block;
	height:0px;
    clear:both;
    visibility:hidden;
}

body > div.container > div.body a, body > div.container > div.body a:visited
{
    text-decoration:underline;
    color:#4388FF;
}
body > div.container > div.body a:hover
{
    color:#6097FE;
}
body > div.container > div.body h1, body > div.container > div.body h2, body > div.container > div.body h3
{
    /*text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 0px 1px 0 #000, -1px 1px 0 #000, -1px 0px 0 #000;*/
    text-shadow: 1px 0px 0 #000, 1px 1px 0 #000, 0px 1px 0 #000;
    font-variant:small-caps;
    margin:0px;
    letter-spacing:2px;
}
body > div.container > div.body h1
{
    color:#C54E0A;
    border-bottom:1px solid black;
    padding-left:10px;
    margin-right:20px;
    overflow:hidden;
    text-overflow:ellipsis;
}
body > div.container > div.body h2
{
    color:#6097FE;
    font-size:27px;
}
body > div.container > div.body h3
{
    color:#87D619;
    font-size:23px;
}
body > div.container > div.body h1 a:only-child, body > div.container > div.body h2 a:only-child,
    body > div.container > div.body h3 a:only-child
{
    text-decoration:none !important;
    color:inherit !important;
}
body > div.container > div.body p
{
    text-indent:25px;
    font-size:11pt;
    margin:0px;
}
body > div.container > div.body quote
{
    border-left:4px solid gray;
    display:block;
    padding:10px;
    width:480px;
    max-width:480px;
    text-align:left;
    position:relative;
    margin:10px auto 10px auto;
}
body > div.container > div.body quote:before
{
    content: "“";
    font-size:36pt;
    position:absolute;
    top:-8px;
    left:-10px;
}
body > div.container > div.body quote[data-speaker]:after
{
    content: "\2014 " attr(data-speaker);
    text-align:right;
    display:block;
    font-style:italic;
    font-size:9pt;
}
body > div.container > div.body div.status
{
	margin-left:10px;
	margin-right:10px;
	padding:44px 10px 10px 10px;
	border:1px solid #3E6617;
	border-radius:5px;
	margin-top:6px;
	position:relative;
	background-color:#D5F6B8;
}
body > div.container > div.body div.status.success
{
	background-color:#BCED91;
	border-color:#629632;
	color:#629632;
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
	text-align:center;
}
body > div.container > div.body div.status.failure
{
	background-color:#F08080;
	border-color:#B22222;
	color:#B22222;
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
	text-align:center;
}
body > div.container > div.body div.status div.miniText
{
	display:block;
	font-size:12px;
	font-weight:normal;
}
body > div.container input.submissionBox
{
	font-size:20px;
	width:600px;
	margin:6px auto 0px auto;
	text-align:center;
	display:block;
}
body > div.container input.submissionButton
{
	width:200px;
	margin-right:auto;
	margin-left:auto;
	display:block;
}

body > div.container > div.body > div.column > div
{
	font-size:10pt;
	margin-bottom:8px;
	padding-left:6px;
	padding-right:6px;
}

body > div.container > div.body > div.column > div > strong
{
	display:block;
	text-decoration:underline;
	position:relative;
	left:-4px;
}

body > div.footer
{
    background:url("images/footer.png") repeat-x center bottom;
	height:144px;
    max-height:144px;
    margin-top:40px;
	min-width:1000px;
}
body > div.footer > div.border
{
    height:4px;
    background:url("images/headerBorderTop.png") repeat-x;
    max-height:4px;
}
body > div.footer > div.text
{
    font-size:8pt;
    width:900px;
    max-width:900px;
    margin:20px auto 0px auto;
    border-style: solid;
	border-width: 10px;
	-moz-border-image: url("images/footerTextBorder.png") 10;
	-webkit-border-image: url("images/footerTextBorder.png") 10;
	-o-border-image: url("images/footerTextBorder.png") 10;
	border-image: url("images/footerTextBorder.png") 10 fill;
}