body
{
	margin:0px;
	overflow-y:scroll;
    font-family:Tahoma, Geneva, sans-serif;
}
body > div.header
{
	height:204px;
	min-height:204px;
	max-height:204px;
	min-width:1000px;
	position:relative;
	margin-top:58px;
	background-repeat:repeat-x;
    background-position:0px -32px;
}
body > div.header > div.borderTop
{
	position:absolute;
	top:-47px;
	left:0px;
	right:0px;
	height:4px;
	min-height:4px;
	max-height:4px;
	background-repeat:repeat-x;
}
body > div.header > div.borderBottom
{
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	height:4px;
	min-height:4px;
	max-height:4px;
	background-repeat:repeat-x;
}
body > div.header > div.navbar
{
	position:absolute;
	top:-43px;
	left:0px;
	right:0px;
	height:48px;
	max-height:48px;
	min-height:48px;
	background-repeat:repeat-x;
    text-align:center;
}
body > div.header > div.navbarBottom
{
    position:absolute;
    top:5px;
    left:0px;
    right:0px;
    height:4px;
    max-height:4px;
    min-height:4px;
    background-repeat:repeat-x;
}

body > div.header > div.navbar > a
{
    display:inline-block;
    width:74px;
    max-width:74px;
    height:48px;
    max-height:48px;
    text-decoration:none;
    background-repeat:no-repeat;
    position:relative;
    margin-left:1px;
    padding-top:20px;
}
body > div.header > div.navbar > a:hover, body > div.header > div.navbar > a.current
{
    padding-top:10px;
    top:-10px;
}
body > div.header > div.navbar a:last-of-type
{
    margin-right:1px;
}
body > div.header > div.navbar > a:before, body > div.header > div.navbar > a:last-of-type:after
{
    width:1px;
    font-size:0px;
    overflow:hidden;
    content: ".";
    background-repeat:repeat-y;
    max-width:1px;
    height:48px;
    max-height:48px;
    display:inline-block;
    position:absolute;
    top:0px;
    left:-1px;
}
body > div.header > div.navbar > a:last-of-type:after
{
    right:-1px;
    left:inherit;
}
body > div.header > div.navbar > a:not(.current):hover
{
    background-position:0px 10px, 0px 0px;
}
body > div.header > div.navbar > a.home
{
    background:url("images/text-home.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.home.current
{
    background:url("images/text-home.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.about
{
    background:url("images/text-about.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.about.current
{
    background:url("images/text-about.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.programming
{
    background:url("images/text-programming.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.programming.current
{
    background:url("images/text-programming.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.teaching
{
    background:url("images/text-teaching.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.teaching.current
{
    background:url("images/text-teaching.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.gaming
{
    background:url("images/text-gaming.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.gaming.current
{
    background:url("images/text-gaming.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.library
{
    background:url("images/text-library.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.library.current
{
    background:url("images/text-library.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.suggestions
{
    background:url("images/text-suggestions.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.suggestions.current
{
    background:url("images/text-suggestions.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.contact
{
    background:url("images/text-contact.png") no-repeat 0px 22px, url("images/navbarButtonBackground.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.contact.current
{
    background:url("images/text-contact.png") no-repeat 0px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}

body > div.header > div.container
{
	width:960px;
	max-width:960px;
	min-width:960px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
    height:100%;
}
body > div.header > div.container > a.logo
{
    background-repeat:no-repeat;
    position:absolute;
    top:20px;
    right:100px;
    z-index:100;
    display:block;
    border:0px;
}
body > div.header > div.container > a.head
{
	width:116px;
	max-width:116px;
	height:200px;
	max-height:200px;
	background:url("images/head.png") no-repeat;
	position:absolute;
	top:0px;
	right:-20px;
	z-index:99;
    display:block;
    border:0px;
}

body > div.container
{
	width:960px;
	max-width:960px;
	min-width:960px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

body > div.container > div.console
{
	position:relative;
	top:-10px;
	height:42px;
	color:white;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:10pt;
	border-style: solid;
	border-width: 5px;
	-moz-border-image: url("images/consoleBorder.png") 5;
	-webkit-border-image: url("images/consoleBorder.png") 5;
	-o-border-image: url("images/consoleBorder.png") 5;
	border-image: url("images/consoleBorder.png") 5 fill;
	z-index:103;
}
body > div.container > div.console > div.prompt
{
	position:absolute;
	top:-25px;
	padding:5px 8px 2px 8px;
	left:-5px;
	max-height:13px;
	min-height:13px;
	height:13px;
	white-space:nowrap;
	max-width:800px;
	border-style: solid;
	border-width: 5px;
	-moz-border-image: url("images/consoleBorder.png") 5;
	-webkit-border-image: url("images/consoleBorder.png") 5;
	-o-border-image: url("images/consoleBorder.png") 5;
	border-image: url("images/consoleBorder.png") 5 fill;
	border-bottom:0px;
	border-right:0px;
	z-index:102;
}
body > div.container > div.console > div.prompt:after
{
	width:22px;
	height:24px;
	background-image:url("images/consoleEnd.png");
	content: ".";
	color:black;
	position:absolute;
	right:-22px;
	top:-5px;
}
body > div.container > div.console > div.prompt > span.user
{
	color:rgb(0,160,0);
}
body > div.container > div.console > div.prompt > span.user > span.botThrowoff:before
{
	content:"lo";
}
body > div.container > div.console > div.prompt > span.cwd
{
	color:rgb(255, 255, 0);
}
body > div.container > div.console > div.bash
{
	height:43px;
	max-height:43px;
	min-height:43px;
	overflow:hidden;
	padding-left:8px;
	padding-right:8px;
}
body > div.container > div.console > div.bash:before
{
	content: "$ ";
}

body > div.container > div.body
{
	position:relative;
	padding-left:3px;
	padding-right:253px;
	min-height:500px;
	border-style: solid;
	border-width: 4px;
	margin-top:20px;
}

body > div.container > div.body > div.breadcrumbs
{
	position:absolute;
	top:-25px;
	left:50px;
	right:50px;
	font-size:80%;
	padding-left:6px;
	padding-right:6px;
	border-style: solid;
	border-width: 4px;
	border-bottom:0px;
    height:17px;
    max-height:17px;
}
body > div.container > div.body > div.breadcrumbs:before
{
	position:absolute;
	bottom:-1px;
	left:-3px;
    width:2px;
    height:1px;
    max-height:1px;
	content: ".";
    overflow:hidden;
}
body > div.container > div.body > div.breadcrumbs:after
{
	position:absolute;
	bottom:-1px;
	right:-3px;
    width:2px;
    height:1px;
    max-height:1px;
	content: ".";
    overflow:hidden;
}
body > div.container > div.body > div.breadcrumbs > div > span:before
{
    content: ":. ";
}
body > div.container > div.body > div.breadcrumbs > div > span > a, body > div.container > div.body > div.breadcrumbs > div > span > a:visited
{
    text-decoration:none;
}
body > div.container > div.body > div.breadcrumbs > div > span:last-child > a
{
    font-weight:bold;
}


body > div.container > div.body > div.column
{
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:244px;
	border-left-width:1px;
    border-left-style:solid;
	padding:3px;
}
body > div.container > div.body:after
{
    content:".";
    display:block;
	height:0px;
    clear:both;
    visibility:hidden;
}

body > div.container > div.body a, body > div.container > div.body a:visited
{
    text-decoration:underline;
}
body > div.container > div.body h1, body > div.container > div.body h2, body > div.container > div.body h3
{
    font-variant:small-caps;
    margin:0px;
    letter-spacing:2px;
}
body > div.container > div.body h1
{
    border-bottom-width:1px;
    border-bottom-style:solid;
    padding-left:10px;
    margin-right:20px;
    overflow:hidden;
    text-overflow:ellipsis;
}
body > div.container > div.body h2
{
    font-size:27px;
}
body > div.container > div.body h3
{
    font-size:23px;
}
body > div.container > div.body h1 a:only-child, body > div.container > div.body h2 a:only-child,
    body > div.container > div.body h3 a:only-child
{
    text-decoration:none !important;
    color:inherit !important;
}
body > div.container > div.body p
{
    text-indent:25px;
    font-size:11pt;
    margin:0px;
}
body > div.container > div.body quote
{
    border-left-width:4px;
    border-left-style:solid;
    display:block;
    padding:10px;
    width:480px;
    max-width:480px;
    text-align:left;
    position:relative;
    margin:10px auto 10px auto;
}
body > div.container > div.body quote:before
{
    content: "“";
    font-size:36pt;
    position:absolute;
    top:-8px;
    left:-10px;
}
body > div.container > div.body quote[data-speaker]:after
{
    content: "\2014 " attr(data-speaker);
    text-align:right;
    display:block;
    font-style:italic;
    font-size:9pt;
}
body > div.container > div.body div.status
{
	margin-left:10px;
	margin-right:10px;
	padding:44px 10px 10px 10px;
	border-width:1px;
    border-style:solid;
	border-radius:5px;
	margin-top:6px;
	position:relative;
}
body > div.container > div.body div.status.success
{
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
	text-align:center;
}
body > div.container > div.body div.status.failure
{
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
	text-align:center;
}
body > div.container > div.body div.status div.miniText
{
	display:block;
	font-size:12px;
	font-weight:normal;
}
body > div.container input.submissionBox
{
	font-size:20px;
	width:600px;
	margin:6px auto 0px auto;
	text-align:center;
	display:block;
}
body > div.container input.submissionButton
{
	width:200px;
	margin-right:auto;
	margin-left:auto;
	display:block;
}

body > div.container > div.body > div.column > div
{
	font-size:10pt;
	margin-bottom:8px;
	padding-left:6px;
	padding-right:6px;
}

body > div.container > div.body > div.column > div > strong
{
	display:block;
	text-decoration:underline;
	position:relative;
	left:-4px;
}

body > div.footer
{
    background-repeat:repeat-x;
    background-position:center bottom;
	height:144px;
    max-height:144px;
    margin-top:40px;
	min-width:1000px;
}
body > div.footer > div.border
{
    height:4px;
    background-repeat:repeat-x;
    max-height:4px;
}
body > div.footer > div.text
{
    font-size:8pt;
    width:900px;
    max-width:900px;
    margin:20px auto 0px auto;
    border-style: solid;
	border-width: 10px;
}