ul.languages
{
    margin:0px;
    margin-top:6px;
    padding-left:30px;
    list-style-type:square;
}
ul.languages > li > ul
{
    list-style-type:none;
    margin:0px;
    padding-left:10px;
}
ul.languages > li > ul > li:before
{
    content: "\21aa";
    padding-right:4px;
}
div.program
{
    width:690px;
    max-width:690px;
    margin:10px auto 0px auto;
    font-size:10pt;
}
div.program + div.program
{
    margin-top:20px;
}
div.program:last-child
{
    margin-bottom:20px;
}
div.program > div.banner
{
    border:1px solid black;
    height:80px;
    max-height:80px;
    font-size:11pt;
    position:relative;
}
div.program > div.banner > span
{
    position:absolute;
    bottom:6px;
    left:10px;
    color:black;
    font-weight:bold;
    text-shadow:0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF,
                0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF,
                0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF, 0px 0px 6px #FFFFFF;
}
div.program > div.language
{
    float:right;
    width:133px;
    max-width:133px;
    height:36px;
    max-height:36px;
    clear:right;
    background-repeat:no-repeat;
    margin-top:2px;
    margin-bottom:1px;
    margin-left:4px;
}
div.program > div.banner + div.language
{
    margin-top:4px;
}
div.program:after
{
    display:block;
    content: ".";
    font-size:0px;
    clear:both;
}
div.program table.information
{
    width:536px;
    margin-top:4px;
    border-collapse:collapse;
    border-spacing:0px;
}
div.program table.information th
{
    text-align:left;
    width:50%;
}
div.program table.information th, div.program table.information td
{
    padding:0px;
}
div.program table.information tr:nth-child(3) > th
{
    padding-top:12px;
}
div.program div.description
{
    margin:10px 40px 0px 40px;
    text-indent:20px;
}

/* programming language banners */
div.program > div.language.ajax
{
    background-image:url("images/ajax.png");
}
div.program > div.language.basic
{
    background-image:url("images/basic.png");
}
div.program > div.language.csharp
{
    background-image:url("images/csharp.png");
}
div.program > div.language.css
{
    background-image:url("images/css.png");
}
div.program > div.language.cpp
{
    background-image:url("images/cpp.png");
}
div.program > div.language.java
{
    background-image:url("images/java.png");
}
div.program > div.language.javascript
{
    background-image:url("images/javascript.png");
}
div.program > div.language.lua
{
    background-image:url("images/lua.png");
}
div.program > div.language.mips
{
    background-image:url("images/mips.png");
}
div.program > div.language.php
{
    background-image:url("images/php.png");
}
div.program > div.language.python
{
    background-image:url("images/python.png");
}
div.program > div.language.sql
{
    background-image:url("images/sql.png");
}
div.program > div.language.xml
{
    background-image:url("images/xml.png");
}
div.program > div.language.xpath
{
    background-image:url("images/xpath.png");
}
div.program > div.language.xquery
{
    background-image:url("images/xquery.png");
}
div.program > div.language.xslt
{
    background-image:url("images/xslt.png");
}