table.questions
{
	width:690px;
	max-width:690px;
	border:1px solid black;
	text-align:center;
	vertical-align:middle;
	border-collapse:collapse;
	background-color:white;
	font-size:10pt;
	margin:6px auto 6px auto;
}
table.questions td
{
    padding-top:3px;
    padding-bottom:3px;
}
table.questions tr:not(.header) td
{
	border-bottom:1px dotted black;
	border-right:1px dotted black;
	position:relative;
}
table.questions tr:not(.header) td:first-child
{
    vertical-align:top;
}
table.questions tr:not(.header) td:nth-child(2)
{
    text-align:left;
    padding-left:8px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:560px;
    max-width:560px;
    min-width:560px;
}
table.questions tr:not(.header) td:nth-child(2):hover
{
    white-space:normal;
    overflow:none;
}
table.questions td a
{
	text-decoration:none !important;
}
table.questions tr.header td
{
	border-bottom:1px solid black;
	border-right:1px solid black;
	font-weight:bold;
	background-color:#C0C0C0;
}
table.questions tr.header div.iconWrapper
{
	position:relative;
}
table.questions tr.header img.sortIcon
{
	opacity:0.5;
	filter:alpha(opacity=50%);
	position:absolute;
	right:10px;
	top:0px;
	cursor:pointer;
}
table.questions tr.header img.sortIcon.current
{
	opacity:1.0;
	filter:alpha(opacity=100%);
}
table.questions tr.completed
{
	background-color:#9CBA7F;
}
table.questions tr.completed a
{
	color:#26450C !important;
}
table.questions tr.rejected
{
	background-color:#FA8072;
}
table.questions tr.rejected a
{
	color:#CF4B21 !important;
}
table.questions img.statusIcon
{
	cursor:help;
	position:absolute;
	top:4px;
	right:10px;
}
table.questions div.suggestionsVoteWrapper
{
	position:relative;
}
table.questions td img.upVote
{
	position:absolute;
	right:10px;
	top:4px;
	cursor:pointer;
}
table.questions td img.upVote:hover
{
	opacity:0.5;
	filter:alpha(opacity=50);
}
table.questions tr:not(.header) td:first-child span.label
{
    color:#A9A9A9;
}