table.games
{
	width:690px;
	max-width:690px;
    border-collapse:collapse;
    font-size:10pt;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:auto;
    margin-right:auto;
    border-spacing:0px !important;
    padding:0px;
}
table.games tr.game
{
    border-top:1px solid black;
}
table.games td.icon
{
    min-width:80px;
    max-width:80px;
    width:80px;
    border:1px solid black;
    border-bottom:0px;
    padding:0px;
    margin:0px;
    border-spacing:0px;
    white-space:nowrap;
}
table.games td.icon img
{
    min-width:80px;
    max-width:80px;
    width:80px;
    min-height:80px;
    max-height:80px;
    border-bottom:1px solid black;
}
table.games td.title
{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    background-color:lightgreen;
    vertical-align:top;
    text-align:left;
    padding-left:4px;
    border-bottom:1px solid black;
    border-right:1px solid black;
}
table.games td.info
{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color:yellow;
    vertical-align:top;
    text-align:left;
}
table.games td.info span.label
{
    font-style:italic;
}