ul.languages
{
    margin:0px;
    padding-left:30px;
}
ul.languages li.en
{
    list-style-image:url("images/en.png");
}
ul.languages li.de
{
    list-style-image:url("images/de.png");
}
ul.languages li.jp
{
    list-style-image:url("images/jp.png");
}

div.forewarning
{
    text-align:center;
    margin:10px;
    font-style:italic;
    font-size:11pt;
}
div.aboutBox
{
    border:1px solid black;
    margin:2px;
    background-color:white;
    font-size:10pt;
    border-radius:2px;
    background-color:#f8f0e0;
}
div.aboutBox.one
{
    width:226px;
    max-width:226px;
}
div.aboutBox.two
{
    width:458px;
    max-width:458px;
}
div.aboutBox.three
{
    width:690px;
    max-width:690px;
    float:none !important;
}
div.aboutBox.three + div.aboutBoxThreeProcession + div.aboutBox.three
{
    margin-top:4px;
}
div.aboutBox.left
{
    float:left;
    clear:left;
}
div.aboutBox.right
{
    float:right;
    clear:right;
}
div.aboutBox.one.center
{
    display:inline-block;
}
div.aboutBox.two.center
{
    margin-left:234px;
    margin-top:4px;
}
div.aboutBox.centerText
{
    text-align:center;
}
div.aboutBoxThreeProcession
{
    clear:both;
}

div.aboutBoxFollower
{
    display:none;
}
div.aboutBox.two.left + div.aboutBoxFollower
{
    display:block;
    clear:left;
}

div.aboutBox > div.question
{
    border-bottom:1px solid black;
    font-weight:bold;
    text-align:center;
    padding:2px;
    background:url("images/aboutAnswerBackground-top.png") repeat-x 0px 0px,
               url("images/aboutAnswerBackground.png") 16px 0px;
    border-radius:2px;
    text-shadow:0px 0px 5px #FFFFFF, 0px 0px 5px #FFFFFF, 0px 0px 5px #FFFFFF, 0px 0px 5px #FFFFFF,
                0px 0px 5px #FFFFFF, 0px 0px 5px #FFFFFF;
    padding-top:16px;
    padding-bottom:4px;
}
div.aboutBox > div.question > span
{
    padding-left:20px;
    background:url("images/questionBox.png") no-repeat 0px 0px;
}
div.aboutBox > div.question > span > a
{
    text-decoration:none !important;
}
div.aboutBox > div.answer
{
    padding:2px 2px 2px 2px;
}

div.aboutBox > div.answer > img
{
    border:1px solid black;
}
div.aboutBox.one img
{
    max-width:220px;
}
div.aboutBox.two img
{
    max-width:452px;
}

div.askPromo
{
    margin:20px;
    text-align:center;
}
div.askPromo a
{
    text-decoration:none !important;
	color:#26450C !important;
}
div.askPromo a:before
{
    content: ".: ";
}
div.askPromo a:after
{
    content: " :.";
}

/* special code */
div.trainerCard
{
  width:298px;
  height:204px;
  margin-left:auto;
  margin-right:auto;
  background-image:url('../images/about/trainer-card.png');
  background-repeat:no-repeat;
  position:relative;
}
div.trainerCard div.name
{
  position:absolute;
  top:9px;
  left:121px;
  width:88px;
  text-align:center;
}
div.trainerCard div.friendCode
{
  position:absolute;
  left:111px;
  top:29px;
  width:111px;
  text-align:center;
}
div.trainerCard a.party
{
  border-bottom:none;
  background-image:none;
  padding-right:0px !important;
}
div.trainerCard div.party
{
  width:48px;
  height:32px;
  position:absolute;
}
div.trainerCard div.pkmn1
{
  top:50px;
  left:69px;
  background-position:-6px -6px;
  background-image:url("../images/about/vulpix.gif");
}
div.trainerCard div.pkmn2
{
  top:50px;
  left:121px;
  background-position:-6px -10px;
  background-image:url("../images/about/eevee.gif");
}
div.trainerCard div.pkmn3
{
  top:50px;
  left:173px;
  background-position:-4px -20px;
  background-image:url("../images/about/leafeon.gif");
}
div.trainerCard div.pkmn4
{
  left:69px;
  top:86px;
  background-position:-15px -25px;
  background-image:url("../images/about/chikorita.gif");
}
div.trainerCard div.pkmn5
{
  left:121px;
  top:86px;
  background-position:-7px -22px;
  background-image:url("../images/about/dragonair.gif");
}
div.trainerCard div.pkmn6
{
  left:173px;
  top:86px;
  background-position:-7px -8px;
  background-image:url("../images/about/vaporeon.gif");
}
img.fox
{
  float:right;
  border:1px solid black;
}