form.contact
{
    margin-bottom:50px;
}
form.contact > label
{
    display:block;
    font-weight:bold;
}
form.contact > input:not([type="submit"])
{
    margin-left:30px;
    display:block;
}
form.contact > textarea
{
    margin-left:30px;
    display:block;
    width:620px;
    resize:vertical;
}
form.contact > input[type="submit"]
{
    width:300px;
    margin:8px auto 0px auto;
    display:block;
}