a.socialMediaLink.prev
{
    float:left;
    margin-left:10px;
    font-size:10pt;
    margin-top:10px;
}
a.socialMediaLink.prev:before
{
    content: "\2190";
}
a.socialMediaLink.next
{
    float:right;
    margin-right:10px;
    font-size:10pt;
    margin-top:10px;
}
a.socialMediaLink.next:after
{
    content: "\2192";
}
div.socialMediaPages
{
    text-align:center;
    margin-bottom:10px;
    font-size:10pt;
    margin-top:10px;
}
div.socialMediaPages:after
{
    content: ".";
    display:block;
    font-size:0px;
    clear:both;
}
div.socialMediaPages:last-of-type
{
    margin-top:14px;
}
div.socialMediaPost
{
    border-width:1px;
    border-style:solid;
    border-radius:4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    position:relative;
    min-height:80px;
    padding-left:112px;
    margin:4px;
    padding-bottom:18px;
    padding-top:4px;
}
div.socialMediaPost > span
{
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    white-space:pre-wrap;
}
div.socialMediaPost > span:after
{
    content: ".";
    display:block;
    clear:both;
    font-size:0px;
}
div.socialMediaPost > div.side
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    width:102px;
    max-width:102px;
    border-right-width:1px;
    border-right-style:solid;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    padding-top:102px;
    font-size:10pt;
}
div.socialMediaPost > div.side > a.avatar
{
    position:absolute;
    left:20px;
    top:20px;
}
div.socialMediaPost > div.side > a.avatar:before
{
    background-repeat:no-repeat;
    width:38px;
    max-width:38px;
    height:38px;
    max-height:38px;
    position:absolute;
    top:-14px;
    left:-14px;
    content: ".";
    font-size:0px;
}
div.socialMediaPost > div.side > a.avatar > img
{
    width:70px;
    max-width:70px;
    height:70px;
    max-height:70px;
    border-width:1px;
    border-style:1px;
    border-radius:2px;
}
div.socialMediaPost > div.side > a.avatar[data-overlay]:after
{
    background-repeat:no-repeat;
    background-position:bottom right;
    width:32px;
    height:32px;
    content:".";
    font-size:0px;
    position:absolute;
    bottom:4px;
    right:1px;
    display:block;
}
div.socialMediaPost > div.meta
{
    position:absolute;
    bottom:0px;
    font-size:8pt;
    text-align:left;
    left:112px;
    right:0px;
    overflow:hidden;
    height:13px;
    max-height:13px;
}
div.socialMediaPost > div.meta > a
{
    text-decoration:none !important;
}

/* photobooth */
body.photoboothActive
{
    overflow:hidden;
}
body > div.photobooth
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-image:url("images/photoboothPixel.png");
    cursor:pointer;
    text-align:center;
    width:100%;
    z-index:1000;
}
body > div.photobooth > div
{
    text-align:center;
    display:table;
    width:100%;
    height:100%;
}
body > div.photobooth > div > div
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
body > div.photobooth > div > div > img
{
    background-color:white;
    border:2px solid black;
    padding:5px;
}

/* facebook */
div.socialMediaPost.facebook
{
    border-color:#3B5998;
    background-color:#D8DFEA;
}
div.socialMediaPost.facebook > div.side
{
    background-color:#AFBDD4;
    border-color:#3B5998;
}
div.socialMediaPost.facebook > div.side > a.avatar:before
{
    background-image:url("images/facebook.png");
}
div.socialMediaPost.facebook > div.side > a.avatar > img
{
    border-color:#3B5998;
}

/* twitter */
div.socialMediaPost.twitter
{
    border-color:#30D8F0;
    background-color:#C3F0F2;
}
div.socialMediaPost.twitter > div.side
{
    background-color:#9AE4E8;
    border-color:#30D8F0;
}
div.socialMediaPost.twitter > div.side > a.avatar:before
{
    background-image:url("images/twitter.png");
}
div.socialMediaPost.twitter > div.side > a.avatar > img
{
    border-color:#30D8F0;
}
div.socialMediaPost > div.side > a.avatar[data-overlay="retweet.png"]:after
{
    background-image:url("images/retweet.png"), url("images/overlay-background.png");
}
div.socialMediaPost.twitter img.twitterPhoto
{
	max-width:500px;
	max-height:200px;
	border:1px solid black;
	background-color:white;
	padding:2px;
    cursor:pointer;
    margin:4px;
    display:block;
}
div.socialMediaPost.twitter img.twitterPhoto:first-of-type:before
{
    content: ".";
    font-size:0px;
    display:block;
}

/* steam */
div.socialMediaPost.steam
{
    border-color:#515352;
    background-color:#F0F0F0;
}
div.socialMediaPost.steam > div.side
{
    background-color:#CDCDCD;
    border-color:#515352;
}
div.socialMediaPost.steam > div.side > a.avatar:before
{
    background-image:url("images/steam.png");
}
div.socialMediaPost.steam > div.side > a.avatar > img
{
    border-color:#515352;
}
div.socialMediaPost.steam > span > table.steamAchievements
{
    font-size:10pt;
}
div.socialMediaPost.steam > span > table.steamAchievements td:first-child
{
    text-align:center;
}
div.socialMediaPost.steam > span > table.steamAchievements td:first-child > img
{
    height:32px;
}
div.socialMediaPost.steam > span > table.steamAchievements td:last-child > strong
{
    display:block;
}

/* youtube */
div.socialMediaPost.youtube
{
    border-color:#4A4A4A;
    background-color:#FEF8BD;
}
div.socialMediaPost.youtube > div.side
{
    background-color:#FE3331;
    border-color:#4A4A4A;
}
div.socialMediaPost.youtube > div.side > a.avatar:before
{
    background-image:url("images/youtube.png");
}
div.socialMediaPost.youtube > div.side > a.avatar > img
{
    border-color:#4A4A4A;
}

/* tumblr */
div.socialMediaPost.tumblr
{
    border-color:#0A3342;
    background-color:#D2DCDC;
}

div.socialMediaPost.tumblr img
{
	max-width:95%;
}

div.socialMediaPost.tumblr > span
{
    white-space:normal;
}
div.socialMediaPost.tumblr > div.side
{
    background-color:#63909A;
    border-color:#0A3342;
}
div.socialMediaPost.tumblr > div.side > a.avatar:before
{
    background-image:url("images/tumblr.png");
}
div.socialMediaPost.tumblr > div.side > a.avatar > img
{
    border-color:#0A3342;
}
div.socialMediaPost.tumblr img.tumblrPhoto
{
	border:1px solid black;
	background-color:white;
	padding:2px;
    cursor:pointer;
    margin:4px;
}

div.socialMediaPost.tumblr img.tumblrPhoto.large
{
	width:500px;
	max-width:500px;
	min-width:500px;
}

div.socialMediaPost.tumblr img.tumblrPhoto.medium
{
	width:245px;
	max-width:245px;
	min-width:245px;
}

div.socialMediaPost.tumblr img.tumblrPhoto.small
{
	width:150px;
	max-width:150px;
	min-width:150px;
}

div.socialMediaPost.tumblr blockquote
{
	white-space:normal;
    border-left:4px solid #A9A9A9;
    margin:0px;
    padding:3px 0px 3px 4px;
}
div.socialMediaPost.tumblr > span p
{
    white-space:pre-wrap;
	text-indent:0px !important;
}
div.socialMediaPost.tumblr div.tumblrTags
{
    margin-top:20px;
    font-size:10pt;
}
div.socialMediaPost.tumblr div.tumblrTags:before
{
    font-weight:bold;
    content: "Tagged: ";
}
div.socialMediaPost.tumblr div.tumblrTags > a
{
    text-decoration:none;
}
div.socialMediaPost.tumblr div.tumblrTags > a:not(:last-child):after
{
    content: ", ";
    color:black;
}
div.socialMediaPost.tumblr img.albumCover
{
    width:200px;
    max-width:200px;
    border:1px solid black;
    float:left;
}
div.socialMediaPost.tumblr audio
{
    margin-left:6px;
}
div.socialMediaPost.tumblr table.trackInfo
{
    font-size:10pt;
}
div.socialMediaPost.tumblr table.trackInfo:after
{
    content: ".";
    display:block;
    font-size:0px;
    clear:both;
}
div.socialMediaPost.tumblr table.trackInfo td:first-child
{
    width:90px;
    max-width:90px;
    overflow:hidden;
    text-align:right;
    font-weight:bold;
    vertical-align:top;
}
div.socialMediaPost.tumblr div.audioBreak
{
    clear:both;
}
div.socialMediaPost.tumblr div.chatLabel
{
    font-weight:bold;
    float:left;
    margin-right:5px;
}
div.socialMediaPost.tumblr div.chatMessage:after
{
    content: ".";
    display:block;
    font-size:0px;
    clear:left;
}