input.suggestion_box
{
	font-size:20px;
	width:600px;
	margin:6px auto 0px auto;
	text-align:center;
	display:block;
}
input.suggestion_submit
{
	width:200px;
	margin-right:auto;
	margin-left:auto;
	display:block;
}
div.suggestionExamples
{
	color:#808080;
	margin:10px;
	font-style:italic;
}

table.suggestions
{
	width:690px;
	max-width:690px;
	border:1px solid black;
	text-align:center;
	vertical-align:middle;
	border-collapse:collapse;
	background-color:white;
	font-size:10pt;
	margin:6px auto 6px auto;
}
table.suggestions td
{
	border-bottom:1px dotted black;
	border-right:1px dotted black;
	position:relative;
}
table.suggestions td a
{
	text-decoration:none !important;
}
table.suggestions tr.header td
{
	border-bottom:1px solid black;
	border-right:1px solid black;
	font-weight:bold;
	background-color:#C0C0C0;
}
table.suggestions tr.header div.iconWrapper
{
	position:relative;
}
table.suggestions tr.header #type, table.suggestions tr.header #votes
{
	width:25%;
}
table.suggestions tr.header #status
{
	width:20px;
	max-width:20px;
	min-width:20px;
}
table.suggestions tr.header img.sortIcon
{
	opacity:0.5;
	filter:alpha(opacity=50%);
	position:absolute;
	right:10px;
	top:2px;
	cursor:pointer;
}
table.suggestions tr.header img.sortIcon.current
{
	opacity:1.0;
	filter:alpha(opacity=100%);
}
table.suggestions tr.completed
{
	background-color:#9CBA7F;
}
table.suggestions tr.completed a
{
	color:#26450C !important;
}
table.suggestions tr.inProgress
{
	background-color:#FCDC3B;
}
table.suggestions tr.inProgress a
{
	color:#CF4B21 !important;
}
table.suggestions tr.declined
{
	background-color:#EEB4B4;
}
table.suggestions tr.declined a
{
	color:#8B1A1A !important;
}
table.suggestions img.statusIcon
{
	cursor:help;
	position:absolute;
	top:0px;
	right:10px;
}
table.suggestions div.suggestionsVoteWrapper
{
	position:relative;
}
table.suggestions td img.upVote
{
	position:absolute;
	right:10px;
	top:0px;
	cursor:pointer;
}
table.suggestions td img.upVote:hover
{
	opacity:0.5;
	filter:alpha(opacity=50);
}