body
{
    background:url("backgroundLeft.png") repeat-y top left, url("backgroundRight.png") repeat-y top right, url("background.png");
}
body > div.header
{
	background-image:url("header.png");
}
body > div.header > div.borderTop
{
    background:url("headerTopLeft.png") no-repeat top left, url("headerTopRight.png") no-repeat top right, url("headerTop.png") repeat-x;
	height:15px;
	min-height:15px;
	max-height:15px;
	top:-58px;
}
body > div.header > div.borderBottom
{
    background-color:yellow;
	/*background-image:url("headerBorderBottom.png");*/
}
body > div.header > div.navbar
{
    background:url("navbarLeft.png") no-repeat top left, url("navbarRight.png") no-repeat top right, url("navbar.png") repeat-x;
	/*background-image:url("navbar.png");*/
}
body > div.header > div.navbarBottom
{
    height:3px;
    max-height:3px;
    min-height:3px;
    background:url("navbarBottomLeft.png") no-repeat top left, url("navbarBottomRight.png") no-repeat top right, url("navbarBottom.png") repeat-x;
}

/* NAVBAR BUTTONS */
body > div.header > div.navbar > a
{
    color:black;
    margin-left:8px;
}
body > div.header > div.navbar > a:before, body > div.header > div.navbar > a:last-of-type:after
{
    left:-8px !important;
    background-image:url("navbarButtonSeparator.png");
    max-width:8px;
    width:8px;
}
body > div.header > div.navbar > a:first-of-type:before
{
    background-image:url("navbarButtonSeparatorInvert.png");
}
body > div.header > div.navbar > a:last-of-type:after
{
    left:74px !important;
}
body > div.header > div.navbar > a.home
{
    background:url("../images/text-home.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.home.current
{
    background:url("../images/text-home.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.about
{
    background:url("../images/text-about.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.about.current
{
    background:url("../images/text-about.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.programming
{
    background:url("../images/text-programming.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.programming.current
{
    background:url("../images/text-programming.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.teaching
{
    background:url("../images/text-teaching.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.teaching.current
{
    background:url("../images/text-teaching.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.gaming
{
    background:url("../images/text-gaming.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.gaming.current
{
    background:url("../images/text-gaming.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.library
{
    background:url("../images/text-library.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.library.current
{
    background:url("../images/text-library.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.suggestions
{
    background:url("../images/text-suggestions.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.suggestions.current
{
    background:url("../images/text-suggestions.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.contact
{
    background:url("../images/text-contact.png") no-repeat 1px 22px, url("navbarButton.png") repeat-x 0px 0px;
}
body > div.header > div.navbar > a.contact.current
{
    background:url("../images/text-contact.png") no-repeat 1px 10px, url("images/navbarButtonCurrent.png") repeat-x 0px 0px;
}


body > div.header > div.container > a.logo
{
    width:163px;
    max-width:163px;
    height:95px;
    max-height:95px;
    background-image:url("logo.png");
}

body > div.header > div.container > div.block
{
    position:absolute;
    height:16px;
    width:16px;
    max-width:16px;
    max-height:16px;
    background:url("block.png") no-repeat;
}
body > div.header > div.container > div.coin
{
    position:absolute;
    width:16px;
    height:16px;
    max-width:16px;
    max-height:16px;
    background:url("coin.png") no-repeat center top;
}
body > div.header.frame1 > div.container > div.block, body > div.header.frame5 > div.container > div.block,
    body > div.header.frame1 > div.container > div.coin, body > div.header.frame5 > div.container > div.coin
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.block, body > div.header.frame2 > div.container > div.coin
{
    background-position:-16px 0px;
}
body > div.header.frame3 > div.container > div.block, body > div.header.frame3 > div.container > div.coin
{
    background-position:-32px 0px;
}
body > div.header.frame4 > div.container > div.block, body > div.header.frame4 > div.container > div.coin
{
    background-position:-48px 0px;
}
body > div.header > div.container > div.mario
{
    position:absolute;
    height:35px;
    max-height:35px;
    width:24px;
    max-width:24px;
    background:url("mario.png") no-repeat left bottom;
}
body > div.header.frame1 > div.container > div.mario
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.mario
{
    background-position:-24px 0px;
}
body > div.header.frame3 > div.container > div.mario
{
    background-position:-48px 0px;
}
body > div.header.frame4 > div.container > div.mario, body > div.header.frame5 > div.container > div.mario
{
    background-position:-72px 0px;
}
body > div.header > div.container > div.goomba
{
    position:absolute;
    height:19px;
    max-height:19px;
    width:17px;
    max-width:17px;
    bottom:35px;
    background:url("goomba.png") no-repeat left top;
}
body > div.header.frame1 > div.container > div.goomba
{
    background-position:0px 0px;
}
body > div.header.frame2 > div.container > div.goomba
{
    background-position:-17px 0px;
}
body > div.header.frame3 > div.container > div.goomba
{
    background-position:-34px 0px;
}
body > div.header.frame4 > div.container > div.goomba
{
    background-position:-51px 0px;
}
body > div.header.frame5 > div.container > div.goomba
{
    background-position:-68px 0px;
}
body > div.header > div.container > div.bush
{
    position:absolute;
    width:34px;
    height:26px;
    max-width:34px;
    max-height:26px;
    background:url("bush.png") no-repeat;
    bottom:36px;
}
body > div.header > div.container > div.pipe
{
    position:absolute;
    width:32px;
    height:33px;
    max-width:32px;
    max-height:33px;
    background:url("pipe.png") no-repeat;
    bottom:36px;
}

body > div.container > div.body
{
	-moz-border-image: url("bodyBorder.png") 4;
	-webkit-border-image: url("bodyBorder.png") 4;
	-o-border-image: url("bodyBorder.png") 4;
	border-image: url("bodyBorder.png") 4 fill;
}

body > div.container > div.body > div.breadcrumbs
{
    border-style: solid;
    border-width: 9px 47px 9px 56px;
    -moz-border-image: url("breadcrumbsBorder.png") 9 47 9 56 stretch;
    -webkit-border-image: url("breadcrumbsBorder.png") 9 47 9 56 stretch;
    -o-border-image: url("breadcrumbsBorder.png") 9 47 9 56 stretch;
    border-image: url("breadcrumbsBorder.png") 9 47 9 56 fill stretch;
    border-bottom:0px;
    top:-30px;
}
body > div.container > div.body > div.breadcrumbs > div
{
    position:relative;
    left: -50px;
}
body > div.container > div.body > div.breadcrumbs > div > span > a, body > div.container > div.body > div.breadcrumbs > div > span > a:visited
{
    color:#287216;
}
body > div.container > div.body > div.breadcrumbs > div > span:last-child > a
{
    color:black;
}

body > div.container > div.body > div.column
{
	border-left:1px solid #48A818;
	background-color:#C7FF4F;
}

body > div.container > div.body a, body > div.container > div.body a:visited
{
    color:#4388FF;
}
body > div.container > div.body a:hover
{
    color:#6097FE;
}
body > div.container > div.body h1, body > div.container > div.body h2, body > div.container > div.body h3
{
    text-shadow: 1px 0px 0 #000, 1px 1px 0 #000, 0px 1px 0 #000;
}
body > div.container > div.body h1
{
    color:#C54E0A;
    border-bottom-color:black;
}
body > div.container > div.body h2
{
    color:#6097FE;
}
body > div.container > div.body h3
{
    color:#87D619;
}
body > div.container > div.body h1 a:only-child, body > div.container > div.body h2 a:only-child,
    body > div.container > div.body h3 a:only-child
{
    text-decoration:none !important;
    color:inherit !important;
}
body > div.container > div.body quote
{
    border-left-color:gray;
}
body > div.container > div.body div.status
{
	border-color:#3E6617;
	background-color:#D5F6B8;
}
body > div.container > div.body div.status.success
{
	background-color:#BCED91;
	border-color:#629632;
	color:#629632;
}
body > div.container > div.body div.status.failure
{
	background-color:#F08080;
	border-color:#B22222;
	color:#B22222;
}

body > div.footer
{
    background-image:url("footer.png");
}
body > div.footer > div.border
{
    background-image:url("headerBorderTop.png");
}
body > div.footer > div.text
{
	-moz-border-image: url("footerTextBorder.png") 10;
	-webkit-border-image: url("footerTextBorder.png") 10;
	-o-border-image: url("footerTextBorder.png") 10;
	border-image: url("footerTextBorder.png") 10 fill;
}